body {
	padding: 0;
	margin: 0;
}
.header {
	font-family: Consolas, Courier, monospace;
    color: #333;
    height: 65px;
    background: #FAFAFA;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid #eee;
    &__menu--logo {
    	position: absolute;
    	top: 4px;
    	font-family: 'Play', sans-serif;
    	left: 0;
    	letter-spacing: .1em;
		font-size: 2em;
    	text-transform: uppercase;
    	text-decoration: none;
    }
    &__list {
    	margin: 0;
    	padding:0;
    	position: absolute;
    	right: 0;
		font-size: 2em;
    	top: 7px;
    	list-style: none;
    }
	a {
		color: #333;
		text-decoration: none;
	}
}
.section {
	position: relative;
    width: 990px;
    max-width: none;
    margin: 0 auto;
}

.orph__container {
    padding: 20px;
    box-sizing:border-box;
    .orph__item {
        padding: 5px 10px;
        border: 1px solid #999;
        margin-bottom: -1px;
    }
}